.namecont{
    background: rgb(146, 47, 47);
    
}
.lh{
    line-height: 0.1rem;
}
.bttn{
    background: rgb(146, 47, 47);
    color: white;
}
.name{
    font-family: 'Raleway', sans-serif;
}